


*{
    margin: 0;
    padding: 0;
    
}
body {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/1.jpg');
    font-family:  "Montserrat", sans-serif;
  }



.text{
    font-size: 6rem;
    text-align: center;
    color: #BD5C48;

}
.title{
    text-align: center;
    color: #BD5C48;
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
}
.number{
    font-size: 12rem;
    
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin: 0px auto ;
    align-self: center;
    color: rgb(255, 255, 255);
    

}

.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1.5rem 4.5rem;
    background: #A74F3C;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    -webkit-transition: background 250ms, box-shadow 250ms;
    transition: background 250ms, box-shadow 250ms;
  }
  .btn:hover {
    background: #FDD835;
    color:rgba(0, 0, 0);
    font-weight: 300;
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
  }
  .btn:active, .btn:focus {
    outline: none;
  }
  .btn:active {
    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
  }
  
  .btn .text {
    position: relative;
    z-index: 2;
  }
  
  
 .reset{
     position: relative;
    margin-top: 20px;
    margin-left: 165px;
    padding: 0.5rem 2.5rem;
    background: #A74F3C;
    color: #ffffff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    -webkit-transition: background 250ms, box-shadow 250ms;
    transition: background 250ms, box-shadow 250ms;
 }
  
 .reset:hover {
    background: #8f3838;
    color:rgb(255, 255, 255);
    font-weight: 300;
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
  }
  .reset:active, .reset:focus {
    outline: none;
  }
  .reset:active {
    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
  }
  
  .reset .text {
    position: relative;
    z-index: 2;
  }
 